@media (max-width: 768px) {
    .card-font{
        width: 75% !important;
    }
    .left, .right{
        max-width: 50%;
    }
    .card-leitura img{
        width: 100%;
    }
}
@media (max-width: 576px) {
    .section-leitura{
        section:nth-of-type(even){
            flex-direction: column;
        }
        section:nth-of-type(odd){
            flex-direction: column-reverse;
        }
        div{
            max-width: 100%;
        }
    }
        
    
}