// <GLOBAL CLASS>
@mixin flexCenter($hg){
    display: flex;
    align-items: center;
    height: $hg;
}

*{
    box-sizing: border-box;
}

body{
    color: var(--text-color);
}
a{
    display: inline-block;
    color: var(--text-color);
    text-decoration: none;
}

button{
    border: none;
    background-color: transparent;
}

h1, h2, h3, h4, h5, h6, figure, p, ul{
    margin: 0 !important;
}

.max-content {
    height: max-content;
    width: max-content
}
// </GLOBAL CLASS>

@import './colors';

@import './_tipografia.scss';

@import './_hero.scss';

@import './_main.scss';

@import './classificacao.scss';